@model IEnumerable<TP1_A16.Models.TypeAnimal>

<h1>Liste des animaux</h1>

<form asp-action="Rechercher" method="GET">
    <input type="text" name="search" placeholder="Search for animals..." />
    <button type="submit" class="btn btn-primary">Search</button>
    <button type="submit" class="btn btn-secondary">Tous les animaux</button>
</form>
    

    <p>
    <a asp-action="Create">Create New</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantiteDisponible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantiteDisponible)
            </td>
            <td>
                    @string.Format("${0:0.00}", item.PrixAnimal) <!-- Using String.Format -->
                    <!-- ou: -->
                    <!-- @item.PrixAnimal.ToString("C") -->
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
